@import 'tailwindcss';

@theme {

    /* defining some breakpoints here another way to set the breakpoints */
    --breakpoint-xsz: 320px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    /* Adding some color using the hexcode here */
    --color-secondary: #292826;
    --color-bgFirst: #2562e8;
    --color-bgSecond: #1e3b8c;

    /* Shade Colors */
    --color-shade1: #6665f1;
    --color-shade2: #875cf5;
    --color-footBG: #111827;
}

/* Including the font-family here only */
@layer utilities {
    .font-poppins {
        font-family: "Poppins", serif;
    }

    .font-merriweather {
        font-family: "Merriweather", serif;
    }

    .bg-Grad {
        background: linear-gradient(45deg, #875cf5, #6665f1);
    }

    .bg-Color1 {
        background: #292826d4;
    }
}